
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale-1, user-scalable=yes">
<link rel="stylesheet" href="../../../assets/bootstrap/css/bootstrap.css">
<link rel="stylesheet" href="../../../assets/perfectScroll/perfect-scrollbar.css">
<link rel="stylesheet" href="../../../assets/css/style.css">
<link rel="stylesheet" href="../../../assets/themify-icons/themify-icons.css">
    <title>Page Title</title>
</head>
<body>
    <div class="wrapper">
        <div class="sidebar-box">
			<div class="hambar">
				<span class="ti-menu"></span>
			</div>
			<div class="sidebar-navs">
				<ul class="navs">
					<li class="nav-item">
						<a href="http://mcapp.edgeplas.com/">
							<span class="ti-home"></span>
						</a>
					</li>
					<li class="nav-item">
						<a href="http://mcapp.edgeplas.com/report">
							<span class="ti-agenda"></span>
						</a>
					</li>
					<li class="nav-item">
						<a href="http://mcapp.edgeplas.com/crown">
							<span class="ti-crown"></span>
						</a>
					</li>
					<li class="nav-item">
						<a href="http://mcapp.edgeplas.com/priviledge">
							<span class="ti-lock"></span>
						</a>
					</li>
					<li class="nav-item">
						<a href="http://mcapp.edgeplas.com/stats">
							<span class="ti-bar-chart"></span>
						</a>
					</li>
					<li class="nav-item">
						<a href="http://mcapp.edgeplas.com/members">
							<span class="ti-id-badge"></span>
						</a>
					</li>
				</ul>
			</div>
		</div>
        <div class="content-box">
			<div class="navbar">
				<div class="maintext">Love Economy</div>
				<div class="subtext">Micro Church App</div>
			</div>
			<div id="content" class="content">
				<div class="row">
					<div class="col-lg-8 col-md-10  col-sm-12 mx-auto">
							<h2 class="content-header">Add New Report</h2>
							<div class="btn btn-success reset">Reset</div>
							<hr>
							<div class="questions-container">
								<div class="question-box header mb-5 ">
									<h3>Report Title</h3>
									<div class="answer-box short-text">
										<span class="ti-pencil left"></span>
										<input type="text" id="title">
									</div>
								</div>

								<div class="question-box mb-5">
									<h5>Where did you meet? </h5>
									<div class="answer-box short-text">
										<span class="ti-location-pin left"></span>
										<input type="text" id="1" class="input">
									</div>
									<p class="answer-attachment map-pin">Add a map pin</p>
								</div>

								<div class="question-box mb-5">
									<h5>What time did you start? </h5>
									<div class="answer-box date">
										<span class="ti-timer left"></span>
										<input type="time" id="" class="input">
									</div>
								</div>

							</div>
							<div class="btn btn-primary pull-right mb-3 next-question">Next</div>
					</div>
				</div>
			</div>
        </div>
	</div>
	<script src="../../../assets/js/jquery-3.3.1.min.js"></script>
	<script src="../../../assets/perfectScroll/perfect-scrollbar.min.js"></script>
	<script src="../../../assets/js/script.js"></script>
</body>
</html>
 