
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale-1, user-scalable=yes">
    <link rel="stylesheet" href="../../../assets/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../../../assets/perfectScroll/perfect-scrollbar.css">
    <link rel="stylesheet" href="../../../assets/css/style.css">
    <link rel="stylesheet" href="../../../assets/themify-icons/themify-icons.css">
    <link href="https://fonts.googleapis.com/css?family=Concert+One" rel="stylesheet">
    <title>Page Title</title>
</head>
<body>
    <div class="wrapper">
        <div class="page-form">
            <div class="logo-box"></div>
            <h4>Mega Center App</h4>
            <form class="form-box">
                <div class="form-group">
                    <label>MC Name</label>
                    <input type="text" name="mc_name">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" name="password">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
    <script src="../../../assets/js/jquery-3.3.1.min.js"></script>
    <script src="../../../assets/perfectScroll/perfect-scrollbar.min.js"></script>
    <script src="../../../assets/js/script.js"></script>
</body>
</html>