<div class="question-box mb-5">
        <h5>What time did you start? </h5>
        <div class="answer-box date">
            <span class="ti-timer left"></span>
            <div class="timepicker">
                <input type="time" id="">
            </div>
        </div>
    </div>

    <div class="question-box mb-5 hide">
        <h5>Who lead prayer ? </h5>
        <div class="answer-box short-text auto-select">
            <span class="ti-user left"></span>
            <input type="text">
        </div>
        <div class="user list-box">
            <div class="list-item">Elder Richie</div>
            <div class="list-item">Elder Buckner</div>
        </div>
    </div>

    <div class="question-box mb-5 hide">
            <h5>Who Preached ? </h5>
        <div class="answer-box short-text auto-select">
            <span class="ti-user left"></span>
            <input type="text">
        </div>
        <div class="user list-box ">
            <div class="list-item">Pastor Monte</div>
            <div class="list-item">Elder Buckner</div>
        </div>
    </div>

    <div class="question-box mb-5 hide">
            <h5>What was ministered ? </h5>
        <div class="answer-box short-text">
            <span class="ti-microphone-alt"></span>
            <input type="text">
        </div>
    </div>

    <div class="question-box mb-5 hide">
            <h5>Any Remarks? </h5>
        <div class="answer-box long-text">
            <span class="ti-comment-alt left"></span>
            <textarea></textarea> 
        </div>
    </div>

    <div class="question-box mb-5 hide">
            <h5>How much offering was received ? </h5>
        <div class="answer-box short-text very">
            <span>Ghc</span>
            <input type="text">
        </div>
    </div>

    <div class="question-box mb-5 hide">
            <h5>How many were you ? </h5>
        <div class="answer-box short-text very num">
            <span class="ti-id-badge"></span>
            <input type="number">
        </div>
    </div>
    
    
    <div class="question-box mb-5 hide">
            <h5>Any first timer ? </h5>
        <div class="answer-box short-text add mb-1">
            <span class="ti-plus"></span>
            <input type="text">
        </div>
        <div class="added-container">
            <input type="text" class="mb-1">
            <input type="text" class="mb-1">
        </div>
    </div>

    <div class="question-box mb-5 hide">
            <h5>How many leaders ? </h5>
        <div class="answer-box short-text very">
            <span class="ti-id-badge"></span>
            <input type="number">
        </div>
    </div>

    <div class="question-box mb-5 hide">
            <h5>Add Images </h5>
        <div class="answer-box image-select">
            <div class="preview-box">

            </div>
            <div class="preview-box">

            </div>
            <label class="preview-box image-pick" for="mc_pic">
                <span class="ti-camera"></span>
                <input type="file" name="mc_pic" id="mc_pic">
            </label>
        </div>
    </div>