
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale-1, user-scalable=yes">
<link rel="stylesheet" href="../../../assets/bootstrap/css/bootstrap.css">
<link rel="stylesheet" href="../../../assets/css/style.css">
<link rel="stylesheet" href="../../../assets/themify-icons/themify-icons.css">
    <title>Mega Center</title>
</head>
<body>
    <div class="wrapper">
        <div class="sidebar-box">
	<div class="hambar">
		<span class="ti-menu"></span>
	</div>
	<div class="sidebar-navs">
		<ul class="navs">
			<li class="nav-item">
				<a href="http://mcapp.edgeplas.com/">
					<span class="ti-home"></span>
				</a>
			</li>
			<li class="nav-item">
				<a href="http://mcapp.edgeplas.com/report">
					<span class="ti-agenda"></span>
				</a>
			</li>
			<li class="nav-item">
				<a href="http://mcapp.edgeplas.com/crown">
					<span class="ti-crown"></span>
				</a>
			</li>
			<li class="nav-item">
				<a href="http://mcapp.edgeplas.com/priviledge">
					<span class="ti-lock"></span>
				</a>
			</li>
			<li class="nav-item">
				<a href="http://mcapp.edgeplas.com/stats">
					<span class="ti-bar-chart"></span>
				</a>
			</li>
			<li class="nav-item">
				<a href="http://mcapp.edgeplas.com/members">
					<span class="ti-id-badge"></span>
				</a>
			</li>
		</ul>
	</div>
</div>
        <div class="content-box">
			<div class="navbar">
	<div class="maintext">Love Economy</div>
	<div class="subtext">Micro Church App</div>
</div>
			<div class="content" id="content">
				<div class="row">
					<div class="col-lg-8 col-md-10  col-sm-12 mx-auto">
							<h2 class="content-header">All Reports</h2>
							<hr>
							<div class="report-list">
								<div class="report-list__item mb-3">
									<div class="pull-left item-header">
										<h4>Friday MC report</h4>
										<h6>Elder Abigail <span class="pull-right">2d</span></h6>
									</div>
									<div class="pull-right item-icon">
										<span class="ti-angle-right pull-right"></span>
									</div>
									<div class="clearfix"></div>
									<div class="item-footer">
										<span class="pull-left ti-pencil"></span>
										<span class="pull-right">Delete</span>
									</div>
								</div>
								<div class="report-list__item mb-3">
									<div class="pull-left item-header">
										<h4>Friday MC report</h4>
										<h6>Elder Abigail <span class="pull-right">2w</span></h6>
									</div>
									<div class="pull-right item-icon">
										<span class="ti-angle-right pull-right"></span>
									</div>
								</div>
							</div>
					</div>
				</div>
				<a href="add_report.html">
					<div class="float-btn">
						<div class="float-btn__icon">
							<span class="ti-agenda"></span>
							<span class="ti-plus minify"></span>
						</div>
					</div>
				</a>
			</div>
        </div>
	</div>
	
	<script src="../../../assets/js/jquery-3.3.1.min.js"></script>
	<script src="../../../assets/perfectScroll/perfect-scrollbar.min.js"></script>
	<script src="../../../assets/js/script.js"></script>
</body>
</html>
 